*{
  padding:0;
  margin:0;
}

body{
  font-weight:100;
  font-family:"Oswald";
  font-size: 24px;
}

p{
  font-family:"Oswald";
  font-weight: 100;
  font-size: 24px;
}



/* 

DARK BLUE: #061C34 
YELLOW: #FCCB06 
RED: #F05353  

TITLE 1: 
font-family: Montserrat;
text-transform: uppercase;
font-size: 50px; 

TITLE 2:
font-weight: 300;
letter-spacing: 3px;
text-transform: uppercase;
font-size: 30px;

BODY TEXT 1:
font-size: 25px;
line-height: 40px;

BODY TEXT 2:
font-size: 15px;
line-height: 40px;

NAV AND BUTTON"
font-size: 20px;

SPACING (MEDIA QUERIES)
padding-right: 120px;
padding-left: 120px;

*/



/**********/
/* HEADER */
/**********/










.Header-Section{
  display: flex;
  flex-grow: 1;
}

.Header-Logo-Container{
  max-height: 125px;
}

.Header-Logo{
  max-height: 70px;
  padding: 15px;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 15px;
}

.Header-Navigation-Container{
  height: 100px;
  background-color: #061C34;
  border-radius: 0 0 0 100px;
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

nav{
}

nav ul{
  float: right;
  padding-right: 50px;
  padding-top: 30px;
}

nav li{
  display: inline-block;
  list-style: none;
}

nav li a{
  font-size: 20px;
  margin: 20px;
  color:white;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

#Active-Page-Header{
  cursor: default;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  font-size: 20px;
  margin-left: 19px;
  border-bottom: 5px solid #F05353;
  margin-right: 20px;
}

nav li a:hover {
  color: white;
  border-bottom: 1px solid #F05353;
}




























.Contact-Section{
  display: column;
  align-items: center;
  padding-top: 150px;
  padding-bottom: 150px;
  padding-left: 15%;
  padding-right: 15%;
}

.Contact-Graphic{
  width: 100%;
}

.Contact-Description{
  color: #061C34;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 70px;
  padding-bottom: 20px;
}

.Contact-Title{
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  text-align: center;
}

.Contact-Text{
  font-size: 25px;
  font-weight: 100;
  line-height: 40px;
  text-align: center;
}

.Contact-Navigation-Container{
  display: flex;
  justify-content: center;
}

.Contact-Icon{
  width: 50px;
  padding-right: 10px;
  padding-left: 10px;
}

.Contact-Icon:hover {
  scale: 120%;
}






/***********/
/* WELCOME */
/***********/






















/**********/
/* FOOTER */
/**********/










.Footer-Section{
  display: block;
  justify-content: center;
  background-color: #061C34;
  padding-top: 40px;
  padding-bottom: 20px;
}

.Footer-Signature{
  width: 230px;
  display: block;
  margin: auto;
  padding-bottom: 20px;
  filter: invert(100%);
}

.Footer-Navigation-Container{
  text-decoration: none;
  text-transform: uppercase;
  list-style: none;
  display: flex;
  justify-content: center;
}

.Footer-Navigation-Container li{
  margin: 0 25px;
}

.Footer-Navigation-Container a:hover {
  border-bottom: 1px solid #F05353;
}

.Footer-Navigation-Container a{
  text-decoration: none;
  color: white;
  font-size: 15px;
}

.Footer-Copyright{
  padding-top: 10px;
  text-align: center;
  color: white;
  font-size: 15px;
  text-transform: uppercase;
}










/*****************/
/* MEDIA QUERIES */
/*****************/











@media only screen and (max-width:1200px) {

  .Header-Section{
    flex-direction: column;
  }
  .Header-Logo-Container{
    display: block;
    margin: auto;
  }
  .Header-Navigation-Container{
    border-radius: 0 0 0 0;
    justify-content: center;
  }
  nav ul:last-of-type{
  padding-right: 0;
}

nav li a{
  margin: 5px;
}

#Active-Page-Header{
  margin-left: 2px;
  margin-right: 2px;
}


/************************************************/

  .Contact-Section{
    padding-right: 20px;
    padding-left: 20px;
  }

  .Contact-Icon{
  padding-right: 5px;
  padding-left: 5px;
}